.container {
  border: 1px black solid;
  height: 250px;
  width: 100px;
}
.green {
  background-color: green;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
  opacity: 1;
  
}
.yellow {
  background-color: yellow;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
 
}
.yellowOff {
  background-color: yellow;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
  opacity: .5;
 
}
.greenOff {
  background-color: green;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
  opacity: 0.5;
}
.red {
  background-color: red;
  margin-top: 5px;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
  
}
.redOff {
  background-color: red;
  margin-top: 5px;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius:100%;
  opacity: .5;
}